.col {
    padding: 20px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
}


.container {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 3px 5px 10px 0 #f8f8f8;    
    margin-bottom: 20px;
    padding-top: 10px;
}

.headline {
    font-size: 40px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Share Tech Mono', monospace;
}

.list-group-item {
    font-family: 'Share Tech Mono', monospace;
    text-transform: uppercase;
    border: none;
    outline: none;
    padding:15px;
    font-size: 17px;
    position: relative;
    background: transparent;
}

.cl:hover {
    cursor: pointer;
    transform: translateX(5px);
    font-weight: 700;
}

.cl {
    transition: 0.1s;
}
table thead th {
    border: none;
}

table {
    border: none;
}

.fa-ban {
    position: relative;
    bottom: 0px;
    transition: 0.2s ease;
    text-decoration: none;
}

.fa-ban:hover {
    bottom: 3px;
    cursor: pointer;
    transition: 0.2s ease;
}


input::placeholder {
    font-size: small;
}

button {
    font-family: 'Share Tech Mono', monospace;
    text-transform: uppercase;
    background: #242424;
    border-radius: 0;
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
    display: inline-block;
}

button:hover{
    background: #faea0f;
    color: #242424;
    transition: .1s;
}
.col-3 {
    border-right: 1px solid #e0e0e0;
    background: #f7f7f7;
}

input {
    border: 3px solid #242424;
    outline: none;
    border-radius: 0;
    width: 50%;
    font-size: small;
    height: 100%;
}

th {
    border: none;
    font-family: 'Share Tech Mono', monospace;
    text-transform: uppercase;
}

input:focus  {
    box-shadow: none;
    border-color: #faea0f;
}

input[type=search]::-webkit-search-cancel-button {
    cursor: pointer;
    -webkit-appearance: none;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAn0lEQVR42u3UMQrDMBBEUZ9WfQqDmm22EaTyjRMHAlM5K+Y7lb0wnUZPIKHlnutOa+25Z4D++MRBX98MD1V/trSppLKHqj9TTBWKcoUqffbUcbBBEhTjBOV4ja4l4OIAZThEOV6jHO8ARXD+gPPvKMABinGOrnu6gTNUawrcQKNCAQ7QeTxORzle3+sDfjJpPCqhJh7GixZq4rHcc9l5A9qZ+WeBhgEuAAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
    background-size: 14px;
    width: 16px;
    height: 14px;
}

.besa {
    margin-bottom: 20px;
    display: flex;
flex-direction: row;
justify-content: space-between;

}



.popup {
    margin: 100px auto;
    padding: 20px;
    background: #fff;
    border-radius: 13px;
    width: 300px;
    height: 150px;
    position: relative;
    transition: all 5s ease-in-out;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .popup .close {
    position: absolute;
    font-size: 15px;
    text-decoration: none;
    color: #d93a3a;
    opacity: 1;
    display: flex;
    height: 21px;
    width: 21px;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 0 1px #d93a3a;
    top: 5px;
    right: 5px;
    transition: 0.1s;
  }
  
  .popup .close:hover {
    color: white;
    background: #d93a3a;
    top: 0px;
    right: 0px;
    height: 30px;
    width: 30px;
  }
  
  .popup .content {
      margin-bottom: 30px;
  }

  .btnn {
    height: 40px;
    width: 100px;
    border-radius: 50px;
    background: rgb(227, 252, 178);
    color: yellowgreen;
    position: relative;
    overflow: hidden;
    border: 1px solid yellowgreen;
    font-weight: 12px;
  }
  
  .btnn:hover {
   background: yellowgreen;
   color: white;
  }