<bs-navbar></bs-navbar>
<!-- 
    dùng ngIf cho thẻ bs-navbar để chỉ hiện thị cho User, ko hiện cho admin
-->
<body>
<main role="main" class="container-fluid">



<router-outlet></router-outlet>
</main><!-- /.container --> 
</body>

<footer>
    <div class="container" >
        <h5><i class="fa fa-heart" style="color: #d93a3a;"></i></h5> 
        <div class="co"><p>     &copy; 2019-2020 | <a href="">VCLTEAM</a> |
        Do an Lap trinh Ung dung mang | </p> &nbsp; <a href="https://daa.uit.edu.vn/">UIT</a></div>
    
</div>
</footer>

