<div class="row" style="overflow: hidden;">

  <div class="column" style="width: 100%; display: flex; flex-direction: column;align-items: center">

    <!-- ảnh bìa -->
    <div class=" co headimage">
      <img src="https://i.imgur.com/rItMYD3.png" class="img" alt="" style="margin-bottom:50px">
    </div>

    <!-- chỗ chứa banner quảng cáo giảm 50% và carousel cho mấy món christmas -->
    <div class="row" style="width: 100%;">
      <div class="column mainp"
        style="background: #d93a3a; display: flex; flex-direction: column; align-items: center; width: 100%;">
        <!-- banner giảm 50% -->
        <div class=" coco prom">
          <img src="https://i.imgur.com/ZfbWxMC.png" class="img" alt="" style="width: 1250px;">
        </div>
        <!--christmas carousel-->
        <div class=" co prod ">

          <h4 class="h-text"> CHRISTMAS DEALS </h4>

          <div class="product-view">

            <div class="container">
              <div id="CEI" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators daucham">
                  <li data-target="#CEI" data-slide-to="0" class="active"></li>
                  <li data-target="#CEI" data-slide-to="1"></li>
                  <li data-target="#CEI" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">

                    <div class="product-row-view">
                      <product-card></product-card>
                      <product-card></product-card>
                      <product-card></product-card>
                      <product-card></product-card>
                      <product-card></product-card>
                    </div>
                  </div>
                  <div class="carousel-item">

                    <div class="product-row-view">
                      <product-card></product-card>
                      <product-card></product-card>
                      <product-card></product-card>
                      <product-card></product-card>
                      <product-card></product-card>
                    </div>
                  </div>

                  <div class="carousel-item">

                    <div class="product-row-view">
                      <product-card></product-card>
                      <product-card></product-card>
                      <product-card></product-card>
                      <product-card></product-card>
                      <product-card></product-card>
                    </div>
                  </div>

                </div>
                <a class="carousel-control-prev" href="#CEI" role="button" data-slide="prev"
                  style="opacity: 1; margin-left: -110px; transition: 0.2s;">
                  <span class="prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#CEI" role="button" data-slide="next"
                  style="opacity: 1; margin-right: -110px; transition: 0.2s;">
                  <span class="next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>

            </div>
            <!-- button xem them -->
            <div class="con">
              <button class="btn">SEE MORE</button>
            </div>

          </div>
        </div>

      </div>
    </div>


    <!-- cac the loai product -->
    <div class=" co c-type" style="margin-top:100px">

      <h4 class="h-text"> SHOP BY CATEGORY </h4>

      <div class="cucu">
        <span class="shop-now" routerLink="/category"> SHOP NOW </span>
      </div>

      <div class="type-cat">
        <button routerLink="/category" class="btnn">
          <i class="fas fa-circle"></i>
          <p>Normal</p>
        </button>
        <button routerLink="/category" class="btnn">
          <i class="fas fa-fire"></i>
          <p>Fire</p>
        </button>
        <button routerLink="/category" class="btnn">
          <i class="fas fa-leaf"></i>
          <p>Grass</p>
        </button>
        <button routerLink="/category" class="btnn">
          <i class="fas fa-tint"></i>
          <p>Water</p>
        </button>
        <button routerLink="/category" class="btnn">
          <i class="fas fa-bolt"></i>
          <p>Electric</p>
        </button>
        <button routerLink="/category" class="btnn">
          <i class="fas fa-dragon"></i>
          <p>Dragon</p>
        </button>
        <button routerLink="/category" class="btnn">
          <i class="fas fa-ghost"></i>
          <p>Ghost</p>
        </button>
        <button routerLink="/category" class="btnn">
          <i class="fas fa-moon"></i>
          <p>Dark</p>
        </button>
        <button routerLink="/category" class="btnn">
          <i class="fas fa-bug"></i>
          <p>Bug</p>
        </button>
        <button routerLink="/category" class="btnn">
          <i class="fas fa-feather-alt"></i>
          <p>Flying</p>
        </button>
        <button routerLink="/category" class="btnn">
          <i class="fas fa-dice-d6"></i>
          <p>Rock</p>
        </button>
        <button routerLink="/category" class="btnn">
          <i class="fas fa-snowflake"></i>
          <p>Ice</p>
        </button>
        <button routerLink="/category" class="btnn">
          <i class="fas fa-spa"></i>
          <p>Fairy</p>
        </button>
        <button routerLink="/category" class="btnn">
          <i class="fas fa-gear"></i>
          <p>Steel</p>
        </button>
        <button routerLink="/category" class="btnn">
          <i class="fas fa-bullseye"></i>
          <p>Psychic</p>
        </button>
        <button routerLink="/category" class="btnn">
          <i class="fas fa-skull"></i>
          <p>Poison</p>
        </button>
        <button routerLink="/category" class="btnn">
          <i class="fas fa-fist-raised"></i>
          <p>Fighting</p>
        </button>
        <button routerLink="/category" class="btnn">
          <i class="fas fa-mountain"></i>
          <p>Ground</p>
        </button>

      </div>

    </div>


    <!-- san pham nhieu luot mua -->
    <div class=" co prod ">

      <h4 class="h-text"> BEST SELLERs </h4>

      <div class="product-view">

        <div class="container">
          <div id="CEI1" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators daucham">
              <li data-target="#CEI" data-slide-to="0" class="active"></li>
              <li data-target="#CEI" data-slide-to="1"></li>
              <li data-target="#CEI" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">

                <div class="product-row-view">
                  <product-card></product-card>
                  <product-card></product-card>
                  <product-card></product-card>
                  <product-card></product-card>
                  <product-card></product-card>
                </div>
              </div>
              <div class="carousel-item">

                <div class="product-row-view">
                  <product-card></product-card>
                  <product-card></product-card>
                  <product-card></product-card>
                  <product-card></product-card>
                  <product-card></product-card>
                </div>
              </div>

              <div class="carousel-item">

                <div class="product-row-view">
                  <product-card></product-card>
                  <product-card></product-card>
                  <product-card></product-card>
                  <product-card></product-card>
                  <product-card></product-card>
                </div>
              </div>

            </div>
            <a class="carousel-control-prev" href="#CEI1" role="button" data-slide="prev"
              style="opacity: 1; margin-left: -110px; transition: 0.2s;">
              <span class="prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#CEI1" role="button" data-slide="next"
              style="opacity: 1; margin-right: -110px; transition: 0.2s;">
              <span class="next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div class="con">
          <button class="btn">SEE MORE</button>
        </div>
      </div>
    </div>

<div class="row allprod">
  <h4 class="h-text"> ALL PRODUCTs </h4>

  <div class="cucu" style="margin-bottom: 10px;">
    <span class="shop-now" routerLink="/category"> VIEW ALL </span>
  </div>

    <div  class="all-product-view"
       *ngFor="let product of product$" >
          <product-card
          (click)="setSelectProduct(product)"
          [_id] = "product._id"
          [name] = "product.name"
          [price] = "product.price"
          [imgurl] = "product.imgurl"
         >
        </product-card>
    </div>
</div>

    <div class="row signup-sign">
      <div class="cont">
        <h2 class="keugoi">SIGN-UP DI MOI NGUOI OI!</h2>
        <button class="bt"> SIGN-UP</button>
      </div>
    </div>

  </div>
</div>