
<div class="container-fluid">
    <div class="row" >
        <div class="col col-3" style="border-right: 1px solid #e0e0e0;">
              <!--static category--> 
              <div class="category sticky-top">   
                   <ul class="list-group ">
                         
                                <!-- <div class="flex-container f1" id="searchbox"> 
                                       <span class="fa fa-search" style="margin-left: 3px; margin-right: 0px;"></span>
                                        <input type="search" placeholder="Search by name">
                                    </div>-->
                                
                        <li class="list-group-item cat cat0">
                                All Types
                        </li>
                        <li class="hey">  
                        <ul class="list-group" style="border-right: 1px solid #e0e0e0;flex:1">
                        <li class="list-group-item cat cat1">
                               Normal
                        </li>
                        <li class="list-group-item cat cat2">
                               Fire
                        </li>

                        <li class="list-group-item cat cat3">
                                Water
                        </li>

                        <li class="list-group-item cat cat4">
                                Grass
                        </li>
                        <li class="list-group-item cat cat5">
                                Electric
                        </li>
                        <li class="list-group-item cat cat6">
                               Ice
                        </li>
                        <li class="list-group-item cat cat7">
                                Fighting
                        </li>
                        <li class="list-group-item cat cat8">
                                Poison
                        </li>
                        <li class="list-group-item cat cat9">
                                Ground
                        </li>

                        </ul>
                        <ul class="list-group" style="flex:1">
                        <li class="list-group-item cat cat10">
                                Flying
                        </li>
                        <li class="list-group-item cat cat11">
                                Psychic
                        </li>
                        <li class="list-group-item cat cat12">
                                Bug
                        </li>
                        <li class="list-group-item cat cat13">
                                Rock
                        </li>
                        <li class="list-group-item cat cat14">
                               Ghost
                        </li>
                        <li class="list-group-item cat cat15">
                                Dragon
                        </li>
                        <li class="list-group-item cat cat16">
                                Dark
                        </li>
                        <li class="list-group-item cat cat17">
                                Steel
                        </li>
                        <li class="list-group-item cat cat18" onclick="this.Element=active">
                                Fairy
                        </li>
                        </ul>
                </li>
                      
                
                                </ul> 
                </div> 

        </div>

        <div class="col col-9">
            <div class="headline">
                <p>All Types ></p>&nbsp;
                <p>Grass ></p>&nbsp;
               <!--<p>Poision</p>--> 
            </div>
            <div class="flex-box" id="products">
            <div class="row">
                <product-card></product-card>
                <product-card></product-card>
                <product-card></product-card>
                <product-card></product-card>
            </div>

            <div class="row">
                <product-card></product-card>
                <product-card></product-card>
                <product-card></product-card>
                <product-card></product-card>
            </div>

            <div class="row">
                <product-card></product-card>
                <product-card></product-card>
                <product-card></product-card>
                <product-card></product-card>
            </div>

            <div class="row">
                <product-card></product-card>
                <product-card></product-card>
                <product-card></product-card>
                <product-card></product-card>
            </div>

            <div class="row">
                <product-card></product-card>
                <product-card></product-card>
                <product-card></product-card>
                <product-card></product-card>
            </div>

            <div class="row">
                <product-card></product-card>
                <product-card></product-card>
                <product-card></product-card>
                <product-card></product-card>
            </div>
        </div></div>
    </div>
    <div class="row" >
                <div class="col col-3" style="border-right: 1px solid #e0e0e0; height: 200px;">
                </div>
                <div class="col col-9">
                </div>


        
</div>