<div class="container">
    <div class="row">
        <div class="column col-3">
              
            <div class="bulk">
                <label class="dn" for="">NUMBER</label>
               <P>#KAFHH03OIG </P>
            </div>  
            <div class="date" >
                <div class="bulk">
                    <label class="dn" for="">DATE</label>
                    <p>12/12/19</p>
                </div>
            </div>
    
        </div>

        <div class="column col-5">
    <div class="bulk"> <label>SUMMARY</label></div>
    <ul class="list-group list-group-flush">
            <li class="list-group-item">
                1 x Bulbasaur
            <div class="float-right">
                $3.99
            </div>
            </li>

            <li class="list-group-item">
                    1 x Bulbasaur
                <div class="float-right">
                    $3.99
                </div>
                </li>

                <li class="list-group-item">
                        1 x Bulbasaur
                    <div class="float-right">
                        $3.99
                    </div>
                    </li>

                    <li class="list-group-item">
                            1 x Bulbasaur
                        <div class="float-right">
                            $3.99
                        </div>
                        </li>

                        <li class="list-group-item">
                                1 x Bulbasaur
                            <div class="float-right">
                                $3.99
                            </div>
                            </li>

                    </ul>

   
        </div>
        <div class="column col-3">
          <div class="bulk"> <label>TOTAL</label>
            <h2>$30.00</h2>
            <p style="font-size: 10px; font-weight: 500;"> INCLUDING 10% VAT AND SHIPPING FEE</p>
        </div>
               
    
        </div>
        <div class="column col-1">
            <div class="bulk besa"><label for="" class="dn ac">ACTION</label>
                <button class="btn check" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><i class="fas fa-check"></i></button>
                <button class="btn cancel" data-toggle="modal" data-target="#myModal" ><i class="fas fa-times"></i></button>

        </div></div>

    </div>
    <div class="row row-track collapse" id="collapseExample">
            <div class="column col-2">
                <div class="bulk"> <label for="">TRACKING</label></div>
               
            </div>
            <div class="column col-10">
                <div class=" bulk track">

                </div>
            </div>
        </div>
</div>