.fa-user {
    font-size: 20px;
}


.shopping-cart{
    width: 22px;
    height: 23px;
    content: " ";
    display: block;
    position: relative;
overflow: hidden;
background-color: #fff;
border: 2px solid #212529;
}

.cart {
    position: relative;
}

.cart:after {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 50%;
    margin-left: -5px;
    top: -7px;
   content: " ";
   display: block;
   border-radius: 10px 10px 0 0;
   border: 2px solid #d93a3a;
   border-bottom: none;
}

button:focus {
    box-shadow: none;
    outline: none;
}

button:active {
    box-shadow: none;
    outline: none;
}


.cart-status {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 50%;
    margin-left: -5px;
    top: 0px;
    transition: 0.2s;
}

.cart-status-2 {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 50%;
    margin-left: -5px;
    top: 15px;
    transition: 0.2s;
}

.shopping-cart:hover .cart-status {
top: -15px;
}

.shopping-cart:hover .cart-status-2 {
top: 0px;
}

.hold {
    position: absolute;
    display: block;
    content: " ";
    width: 10px;
    height: 10px;
    background: white;
    border: 1.6px solid #212529;
    border-radius: 10px;
    top: -5px;
    left: 50%;
    margin-left: -5px;
    z-index: 0;
}


.firstname {
    font-size: 14px;
    margin-right: 5px;
}

.navbar {
        border: 0;
    border-radius: 0;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #e0e0e0;
}

.nav-link {
    font-size: 14px;
    text-transform: uppercase;
}

.row {
    width: 1250px;
    position: relative;
}

.dropdown-toggle{
    cursor: pointer;
}

.navbar-collapse {
    display: flex;
    flex-direction: row-reverse;
}


.column {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    max-width: 100%;
}

.col {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 0;
    height: 100%;
    justify-content:space-between;
    padding-left: 0px;
    max-width: max-content;
    right: 0;
    position: absolute;
}

.cuc:after {
    position: absolute;
    width: 16px;
    height: 16px;
    content: "\f068";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--do);
    padding-left: 15px;
    font-size: 12px;
    display: block;
    border-radius: 100px;
    background: white;
    box-shadow: inset 0 0 0 2px var(--den);
    top: 9px;
    transition: 0.2s;
    transform: rotate(45deg);
    z-index: -1;
}

.cuc input {
    border-radius: 0 ;
    border: none;
    margin-left: 20px;
    background: transparent;
    width: 0;
    transition: 0.2s;
    border-bottom: 2px solid transparent;
}

.cuc input:focus {
    width: 200px;
    box-shadow: none;
    outline: none;
    border-bottom: 2px solid #242424;
}

.cuc:hover input{
    width: 200px;
    border-bottom: 2px solid #242424;
}

.cuc {
    position: relative;
    border-radius: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    width: fit-content;
    transition: 0.2s;
    right: 0;
}

/*
.cuc:after {
    position: absolute;
    font-family: "Font Awesome 5 Free";
    content: "\f002";
    font-size: 18px;
    font-weight: 900;
    z-index: -1;
    left: 14px;
    transition: 0.2s;
}
*/

.dropdo:focus {
    background: #ffe033;
    color: #242424;
}

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    min-width: 140px;
    z-index: 2;
  }
  
  .dropdown-content a {
      padding-top: 10px;
      padding-bottom: 10px;
    text-decoration: none;
    display: block;
  }

   .user-icon:after {
    position: absolute;
    width: 12px;
    height: 12px;
    content: " ";
    display: block;
    border-radius: 100px;
    border: 2px solid var(--den);
    top: -15px;
    left: 50%;
    margin-left: -6px;
   }

   .user-icon{
    width: 22px;
    height: 11px;
    content: " ";
    display: block;
    border-radius: 100px 100px 0 0;
    border: 2px solid var(--den);
    border-bottom: none;
    position: relative;
    margin-top: 11px;
   }
   
   
   .drod-togg {
       position: relative;
       margin-left: 20px;
       margin-right: 10px;
       cursor: pointer;
       display: flex;
       flex-direction: row;
   }

   .drod-togg:after{
position: absolute;
width: 22px;
height: 2px;
display: block;
content: " ";
bottom: -1px;
background: linear-gradient(to right, #d93a3a 50%, transparent 50%, transparent);
transition: 0.2s;
   }

   .drod-togg:before {
    position: absolute;
    width: 22px;
    height: 2px;
    display: block;
    content: " ";
    bottom: -1px;
    background: linear-gradient(to left, #d93a3a 55%, transparent 50%, transparent);
    transition: 0.2s;
   }

   
   .dropdown:hover .drod-togg:after {
 transform: rotate(45deg);
 bottom: -20px;
   }

      
   .dropdown:hover .drod-togg:before {
    transform: rotate(-45deg);
    bottom: -20px;
      }
   
.dropdo:hover {
    background:var(--den);
    color: white;
}

.dropdo {
    background: white;
    padding: 0px 10px;
    font-size: 14px;
    box-shadow: inset 1px 0 0 0 var(--den),
    inset -1px 0 0 0 var(--den);
}


   .first {
       box-shadow: inset 0 1px 0 0 var(--den),
       inset 1px 0 0 0 var(--den),
       inset -1px 0 0 0 var(--den);
   }

   .logout {
    background: white;
    padding: 0px 10px;
    font-size: 14px;
    box-shadow: inset 1px 0 0 0 var(--den),
    inset -1px 0 0 0 var(--den),
    inset 0 -1px 0 0 var(--den);
    color: white;
}

.logout:hover{
    background:  var(--do);
    cursor: pointer;
    font-weight: 600;
}

  .arrow {
    background: none;

}

  .dropdown:hover .dropdown-content {display: block;}

.nav-link:hover {
    font-weight: 600;
}

ul {
    display: flex;
    align-items: center;
}

a {
    color : rgb(27, 27, 27);
}

.cucu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

logo:focus {
    box-shadow: none;
    outline: none;
}

.bars {
    width: 15px;
    height: 3px;
    background: #242424;
}

#small {
    visibility: hidden;
}

.haha {
    position: relative;
    margin-right: 20px;
    color: transparent;
    cursor: pointer;
}

.haha:after {
    position: absolute;
    width: 16px;
    height: 16px;
    content: " ";
    display: block;
    border-radius: 100px;
    background: white;
    box-shadow: inset 0 0 0 2px var(--den);
    top: 0;
    transition: 0.2s;
}

.haha:before {
    position: absolute;
    width: 2px;
    height:10px;
    background: var(--do);
    content: " ";
    display: block;
    border-radius: 100px;
    top:12px;
    right: 7px;
    transform: rotate(-45deg);
    transition: 0.2s;
}
/*
.haha:hover:before {
transform: rotate(45deg);
right: 23px;
}
*/

.haha:hover:after {
width: 24px;
height: 2px;
transform:rotate(45deg);
border: none;
border-radius: 0;
top: 10px;
background: transparent;
}

.haha:hover:before {
    transform: rotate(45deg);
    right: 10px;
    height: 24px;
    top: -1px;

    }

.collapse {
    width: 100%;
    transition:0.2s ;
}

.collapse input {
    width: 100%;
    border: none;
    outline: none;
}

.collapse .search {
    border-bottom: 2px solid var(--den);
    width: 100%;
}


#collapseExample {
    visibility: hidden;
}

input:focus {
    box-shadow: none;
}

@media only screen and (max-width:800px) {
    #big {
        visibility: hidden;
        display: none;
    }

    #small {
        visibility: visible;
    }

    
#collapseExample {
    visibility: visible;
}

}