<form [formGroup]="form">
        
        <div class="form-group">
            <label >Current Password</label>
            <input formControlName="curpass" type="password" class="form-control">
            <div *ngIf="curpass.touched && curpass.invalid" class="alert alert-danger">
                    <div *ngIf="curpass.errors.required"> Cannot be empty</div>
            </div>
        </div>        
        
        <div class="form-group">
                <label >New Password</label>
                <input formControlName="newpass" type="password" class="form-control">
                <div *ngIf="newpass.touched && newpass.invalid" class="alert alert-danger">
                        <div *ngIf="newpass.errors.required"> Cannot be empty</div>
                </div>
        </div> 
    
        <div class="form-group">
            <label >Confirm password</label>
            <input formControlName="conpass" type="password" class="form-control">
            <div *ngIf="conpass.touched && conpass.invalid" class="alert alert-danger">
                    <div *ngIf="conpass.errors.required"> Cannot be empty</div>
            </div>
        </div> 

    </form>