<div class="container-fluid">

    <ul class="breadcrumb">
        <button class="back">BACK</button>
        <li><a href="#">Home</a></li>
        <li><a href="#">Grass</a></li>
        <li>Bulbasaur</li>
    </ul>
    <h2 class="cat-name">GRASS <span class="remaining-products">(23 products)</span> </h2>

    <div class="row no-gutters" style="margin-top: 20px;">
        <div class="col col-2">
            <div class="category">
                <product-filter></product-filter>
            </div>
        </div>

        <div class="col col-10">
            <div class="detail" (ngOninit)="ngOninit()" >
               
                <div class="row no-gutters no r-in"  *ngIf='product'>
                    <div class="col-5 image">
                        <img src={{product.imgurl}} alt="Product-image"
                            style="width: 100%;">
                    </div>
                    <div class="col-7" style="padding-left: 50px; padding-top: 30px;">
                        <p>{{product.id}}</p>
                        <h2>{{product.name}}</h2>
                        <h6>Grass <span>/ Poison</span> </h6>
                        <h2 style="font-weight: 600; color: #d93a3a;">{{product.price}}</h2>
                        <p style="text-decoration: line-through; opacity: 0.5"> $9.00</p>
                        <div style="margin-top: 50px; width: 100px;">
                            <product-quantity></product-quantity>
                        </div>
                        <button class="btn"></button>
                    </div>
                </div>
                <h4 class=" headtype">Description</h4>
                <div class="row no-gutters r-in">
                    <div class="conbo">
                        <p>Height : </p>
                        <p>Weight : </p>
                        <p>Moves : </p>
                        <p>Abilities : </p>
                        <p>Japanese name : </p>
                        <p>Weak to : </p>
                    </div>
                </div>

                <h4 class=" headtype">Related Products</h4>
                <div class="row no-gutters r-in">
                    <div class="conbo">

                        <div class="prod">
                            <product-card></product-card>
                            <product-card></product-card>
                            <product-card></product-card>
                            <product-card></product-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>