<div class="container-fluid" (ngOninit)="ngOninit()">

    <ul class="breadcrumb">
        <button class="back" onclick="history.go(-1)">BACK</button>
        <li><a href="#">Home</a></li>
        <li><a routerLink="/category">Grass</a></li>
        <li>Bulbasaur</li>
    </ul>

    <div class="row no-gutters">
        <div class="col">


                <h2 class="cat-name">GRASS <span class="remaining-products">(23 products)</span> </h2>

                <div class="view product-view" *ngIf='p'>

                    <div class="image">
                        <img src={{p.imgurl}} alt="Product-image" style="width: 95%;">
                    </div>

                    <div class="product-info">
                        <p class="product-number">{{p.id}}</p>
                        <h2 class="product-name">{{p.name}}</h2>
                        <h6 class="type1">Grass <span>/ Poison</span> </h6>
                        <h2 class="product-price">{{p.price}}</h2>
                        <p class="old-price">{{p.price + (p.price * 10/100)}}</p>
                        <div class="product-quantity">
                            <product-quantity
                            [Counter] = "counter"
                            [id] = "id"
                            [flag] = "flag"
                            (valueChange2)="notifyMessage($event)"
                            (valueChange3)="notifyMessage1($event)">
                            </product-quantity
                            >
                        </div>
                        <button class="btn add-to-cart-btn"  (click) = "addtocard()"></button>
                    </div>
                </div>

                <div class="box-view description"  *ngIf='p'>
                    <h4 class="headline"> DESCRIPTION</h4>
                  <p>{{p.description}}</p>
                </div>

                <div class="box-view related-products">
                    <h4 class="headline"> RELATED PRODUCTs</h4>
                    <div class="prod">
                        <product-card *ngFor="let product of products" [product]="product"></product-card>
                    </div>
                </div>

        </div>
    </div>
</div>
