<div class="container">
  <div class="row" >
    <div class="col-4" style="border-right: 1px solid #e0e0e0;">
      <h1 style="font-weight: bolder; font-size: 50px; width: 100px;">Shopping Cart</h1>
    </div>
    <div class="col" >
    <!-- <button class="btn btn-sm">Clear all items</button>--> 
  <p style="font-size: 13px; margin-top: 50px;"> You have 1 item(s) in your cart</p>
      <table class="table" style="margin-top: 20px;">
        <thead >
          <tr>
            
            <th style="width: 10%;"></th> <!--for thumbnail-->
            <th style="width: 45%;">Product</th>
            <th style="width: 20%;">Price</th>
            <th style="width: 20%;">Quantity</th>
            <th style="width: 5%"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
                <img class="thumbnail" src ="https://img.pokemondb.net/sprites/lets-go-pikachu-eevee/normal/venusaur.png" alt="hello">
            </td>           
            <td >Bulbasaur</td>
             <td>$5.00</td>
            <td>
              <product-quantity></product-quantity>
            </td>
            <td>
          <p style="font-size: 16px;" class="fas fa-times"></p></td>
          </tr>
        </tbody>
      </table>     
      
      <div class="row no-gutters" style="margin-top: 70px; border-top: 1px solid #e0e0e0; padding-top: 30px" >
      <div class="col-7" style="font-size: 13px;"></div>
      <div class="col-5" style="font-size: 25px; font-weight: bold; text-align: right;"> 
        Total <span style="font-size: 35px; color: #d93a3a;">$5.00</span>
        <p style="font-size: 13px; color: #969696;">Not including shipping fee</p>
       </div>
      </div>

      <button routerLink="/check-out" style="margin-top: 10px;" class="btn">Check Out</button>  
    </div>
  </div>  
    
 
</div>