<div class="row">
        <div class="col col-2 sticky-top" >
        <admin-nav></admin-nav>
    </div>
        <div class="col col-10">
                <div class="besa">
                   
           <h4>PRODUCTs</h4>
                <input type="search" class="form-control" placeholder="Search by name">
                <button routerLink="/admin/products/new" class="btn check">New Product</button>
            </div>
              <div class="container-fluid"> 
                   <table class="table">
                <thead>
                    <tr>
                        <th style="width: 5%;">Number</th>
                        <th style="width: 25%;">Product Name</th>
                        <th style="width: 20%;">Date</th>
                        <th style="width: 20%;">Category</th>
                        <th style="width: 10%;">Quantity</th>
                        <th style="width: 10%;">Price</th>
                        <th style="width: 10%;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of collection | paginate: { itemsPerPage: 20, currentPage: p }">
                        <td></td>
                        <td>FO-DR-JP-TI2004</td>
                        <td>FO-DR-JP-TI2004</td>
                        <td>FO, DR</td>
                        <td>10 </td>
                        <td>$3.99</td>
                        <td style="font-size: 16px;">
                            <a routerLink="/admin/products/new" 
                            style="color: yellowgreen;" 
                            class="far action edit fa-edit fu"> 
                            </a>
                            <span data-toggle="modal" data-target="#myModal" 
                            class="far action delete fa-trash-alt fu" 
                            style="color: #e73939; margin-left: 20px;"> 
                        </span>
                        </td>
                    </tr>
                </tbody>
      
                </table>          
                <pagination-controls class="d-flex justify-content-end my-pagination" 
        (pageChange)="p = $event"
        maxSize="9"
                      directionLinks="true"
                      autoHide="true"
                      responsive="true"
                      previousLabel="PREVIOUS"
                      nextLabel="NEXT"
                     style="padding-right: 20px;"
        ></pagination-controls>
            </div>
        </div>
    </div>   


    <div id="myModal" class="modal">
            <div class="popup">
                <i class="far fa-question-circle fa-3x"></i>
                <h4 class="are">Are you sure?</h4>
                <p class="quote">This product will be deleted!</p>
                <div class="close"  data-dismiss="modal"><i class="fas fa-times"></i></div>
                <div class="content">
                   <button onclick="cancel()" data-dismiss="modal" class="btnn">CONFIRM</button>
                </div>
            </div>
        </div>