<div class="container-fluid">
    <ul class="breadcrumb">
        <button class="back">BACK</button>
        <li><a href="#">Home</a></li>
        <li>Grass</li>
    </ul>

    <div class="row no-gutters">

        <div class="col col-2">
            <div class="category">
                <product-filter></product-filter>
            </div>
        </div>



        <div class="col col-10">
            <h2 class="cat-name">GRASS <span class="remaining-products">(23 products)</span> </h2> 
         <div class="prod">
		<ul>
			<li *ngFor="let item of collection | paginate: { itemsPerPage: 20, currentPage: p }"><product-card></product-card></li>
		</ul>

        <pagination-controls class="d-flex justify-content-end my-pagination" 
        (pageChange)="p = $event"
        maxSize="9"
                      directionLinks="true"
                      autoHide="true"
                      responsive="true"
                      previousLabel="PREVIOUS"
                      nextLabel="NEXT"
                     style="padding-right: 20px;"
        ></pagination-controls>
</div>
        </div>
    </div>
</div>